
footer {
    font-family: "Myriad Pro", sans-serif;
    border-top: 2px solid #000000;
    padding: 0 58px;
    text-align: center;
}
  
.footer__title {
    font-size: 25px;
    font-weight: 400;
    line-height: 12px;
    color: #323a45;
    padding-top: 75px;
}

.footer__text {
    padding-top: 25px;
    color: #81868e;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.7px;
}

.socialicon {
    margin: 0 auto;
}

.allrights p {
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #000000;
}

.copyright p {
    text-align: right;
    font-family: Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #eae9e9;
}

.socialicon__list {
    list-style: none;
    padding: 0;
    padding-top: 40px;
    padding-bottom: 75px;
    text-align: center;
}

.socialicon__item {
    display: inline-block;
    margin: 0 3px;
}

#block,
.notoverlayicon {
    display: block;
}

.overlayicon {
    display: block;
    position: relative;
    top: -36px;
    transition-duration: 0.2s;
}

.overlayicon:hover {
    opacity: 0;
    transition: 0.2s;
}