.gallery {
    border-top: 5px solid #000;
    border-bottom: 5px solid #000;
    padding-bottom: 240px;
}

.gallery__title {
    margin: 0 auto;
    text-align: center;
    font-family: "Myriad Pro", sans-serif;
    font-weight: 400;
    padding-top: 115px;
    color: #333b46;
    font-size: 36px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    color: #81868e;
}

.gallery__box {
    display: flex;
    justify-content: space-between;
    width: 81.4%;
    margin: 0 auto;
    padding-top: 138px;
}

.gallery__col {
    max-width: 270px;
}

.gallery__overlaybox {
    position: relative;
}

.gallery__overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition-duration: .4s;
}

.gallery__overlay:hover {
    color: #ffffff;
    background-color: rgba(67, 74, 79, 0.5);
    opacity: 1;
	transition: .4s ease-out;
}

.gallery__overlay--text {
    text-align: center;
    padding-top: 50%;
    font-family: "Myriad Pro", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 3.6px;
}